---
layout: default
post_class: post-template
comments: true
---

<main class="content" role="main">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <section class="post-content">
      {{content}}
    </section>

    <footer class="post-footer">
      <figure class="author-image">
        <a class="img" href="{{ "/" | relative_url }}" style="background-image: url({{ site.author.picture }})">
          <span class="hidden">{{site.author.name}}'s Picture</span>
        </a>
      </figure>
      <section class="author">
        <h4>{{ site.author.name }}</h4>
        <a href="https://github.com/imanel" target="_blank">
          <i class="fab fa-github"></i>
          <span class="hidden">Github</span>
        </a>
        <a href="https://twitter.com/_imanel" target="_blank">
          <i class="fab fa-twitter"></i>
          <span class="hidden">Twitter</span>
        </a>
        <a href="https://www.linkedin.com/in/bernardpotocki/" target="_blank">
          <i class="fab fa-linkedin"></i>
          <span class="hidden">LinkedIn</span>
        </a>
        <a href="https://slides.com/imanel" target="_blank">
          <i class="fab fa-slideshare"></i>
          <span class="hidden">Slides</span>
        </a>
      </section>

      {% include share.html %}

      {% include disqus.html %}
    </footer>
  </article>
</main>
