---
layout: default
post_class: post-template
---

<main class="content" role="main">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <section class="post-content">
      {{content}}
    </section>

    <footer class="post-footer">
      <figure class="author-image">
        <a class="img" href="{{ "/" | relative_url }}" style="background-image: url({{ site.author.picture }})">
          <span class="hidden">{{site.author.name}}'s Picture</span>
        </a>
      </figure>
      <section class="author">
        <h4>{{ site.author.name }}</h4>
        <p>{{ site.author.bio }}</p>
      </section>

      {% include share.html %}

      {% include disqus.html %}
    </footer>
  </article>
</main>
